<section id="wrapper">
    <div class="login-register " style=" overflow: auto; background-image:url(../assets/images/background/login-register.png);">
        <div class="fixed-position login-box card">
            <div class="card-body">
                <!-- <h3 class="box-title m-b-20">Registrate </h3> <small>Crea tu cuenta y unete</small> -->
                <div class="row d-flex" style="justify-content: space-evenly !important">
                    <div class="col-5 fixed-position-child">
                        <div class="card-body ">
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <!-- <h3 class="box-title m-b-20">Soy Profesional Sanitario </h3> -->

                                    <div class="user-thumb text-center"><br> <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/d3.jpg">
                                        <br><br>
                                        <h3>Soy Profesional Sanitario</h3>
                                        <br>
                                        <small>Solicita información sobre nuestra plataforma de salud digital.</small>
                                        <div class="form-group text-center m-t-20 d-flex justify-content-around">
                                            <div class="col-8">
                                                <button routerLink="/register_medico" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Registrate</button>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <div class="col-sm-12 text-center">
                                                <p>¿Ta tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Inicia sesion</b></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 fixed-position-child">
                        <div class="card-body ">
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <!-- <h3 class="box-title m-b-20">Registrate </h3> <small>Crea tu cuenta y unete</small> -->

                                    <div class="user-thumb text-center"> <br>
                                        <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/2.jpg">
                                        <br>
                                        <br>
                                        <h3>Soy Administrador</h3>
                                        <br>
                                        <small>Regístrate como Administrado, y comienza a disfrutar de nuestra plataforma.</small>
                                    </div>
                                    <div class="form-group d-flex justify-content-around text-center m-t-20">
                                        <div class="col-8">
                                            <button routerLink="/register_admin" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Registrate</button>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0">
                                        <div class="col-sm-12 text-center">
                                            <p>¿Ta tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Inicia sesion</b></a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>